/CharArrayToString.class
/JavaIntroduce.class
/Practice.class
/StringToChars.class
/XORtable.class
/BytesToString.class
/CrazyMath.class
/DayOfWeek.class
/Factorial.class
/Fibonacci.class
/MinAndMax.class
/MultiplicationTable.class
/Names.class
/Palindrome.class
/Parabola.class
/Square.class
/StringChanger.class
